<div class="well well-lg">
    <div class="page-header">
        <h1>LJ-STAND <small>Lighweight Soccer Robotics Team</small>
        </h1>
    </div>

    <div class="row">
        <div class="span12 centered-pills">
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="active"><a href="#/home">Home</a>
                </li>
                <li role="presentation"><a href="#/home">News</a>
                </li>
                <li role="presentation"><a href="#/home">Contact</a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="well well-lg">
    <h1>Home</h1>
</div>
