<div class="well well-lg">
    <div class="page-header">
        <h1>LJ-STAND <small>Lighweight Soccer Robotics Team</small></h1>
    </div>

    <div class="row">
        <div class="span12 centered-pills">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#/home">Home</a>
                </li>
                <li role="presentation" class="active"><a href="#/news">News</a>
                </li>
                <li role="presentation"><a href="#/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="well well-lg">
      <h1>News</h1>

      <h2>Another Post</h2>
      <p>Content</p>
      <br><hr>

      <h2>First Post</h2>
      <p>Content</p>
      <br><hr>
</div>
