<html ng-app="LJSTANDApp">
    <head>
        <title>LJ STAND | News</title>

        <script src="bower_components/angular/angular.js"></script>
        <script src="scripts/app.js"></script>

        <link rel="stylesheet" href="stylesheets/main.css" type="text/css">
    </head>

    <body>
        <div id="header">
            <div id="title-container">
                <div id="logo-container">
                    <img src="images/logo.png" id="logo">

                    <div id="navbar">
                        <div class="navbar-button-container">
                            <a class="navbar-button" href="index.html">Home</a>
                        </div>

                        <div class="navbar-button-container">
                            <a class="navbar-button" href="news.html">News</a>
                        </div>
                    </div>
                </div>

                <p id="title">NEWS</p>
            </div>
        </div>

        <div id="content" ng-controller="NewsController as news">
            <ul id="post-grid" ng-show="news.isSelected('news')">
                <li class="post-preview" ng-repeat="post in news.posts" ng-click="news.selectTab($index)">
                    <p class="post-preview-title">// {{post.title}}</p>
                    <p class="post-preview-content">{{post.summary}}</p>
                    <p class="post-preview-date">{{post.date}}</p>
                </li>
            </ul>

            <div class="post" ng-repeat="post in news.posts" ng-show="news.isSelected($index)">
                <p class="post-preview-title">// {{post.title}}</p>
                <p class="post-preview-content">{{post.content}}</p>
                <p class="post-preview-date">{{post.date}}</p>
            </div>
        </div>
    </body>
</html>
