body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 Menlo, sans-serif;
  background-color:#f7f7f7;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
