body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 Menlo, sans-serif;
    background-color: #f7f7f7;
}

/*----- Header -----*/
#header {
    width: 100%;
    height: 75%;
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
    background-color: rgba(218, 218, 218, 0.75);
}

#title-image {
    height: 25vw;
    width: 25vw;
    margin-top: 7.5%;
    margin-left: calc((100% - 500px)/ 2);
    margin-right: calc((100% - 500px)/ 2);
}

/*----- Column ------*/
.flexBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start | stretch;
    align-content: stretch;
    justify-content: space-around;
}

.flexItem {
    width: 30%;
}

.flexColumn {
    width: 1%;
    background-color: #c1c1c1;
    border-radius: 20px;
}

.flexColumnSmall {
    width: 0.5%;
    background-color: #c2c2c2;
    border-radius: 20px;
}

/*----- Menu -----*/
.menu {
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f7f7;
    z-index: 1000;
    width: 100%;
}

.menuItem {
    float: left;
}

.menuItem, .menuText {
    display: block;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*----- Parallax -----*/
/*TODO: Clean up id:2*/
#nationals, #news, #teams {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75%;
}

#nationals {
    background-image: url("../images/robot.jpg");
}

#news {
    background-image: url("../images/news.jpg");
}

#teams {
    background-image: url("../images/robot.jpg");
}

.content, .darkContent {
    position: relative;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.content {
    color: #777;
    background-color: #f7f7f7;
}

.darkContent {
    color: #ddd;
    background-color: #6a7076;
}

.paralaxHeader {
    background-color: transparent;
    font-size: 50px;
    color: #f7f7f7;
}

.imageDetail {
    color: #f7f7f7;
}
