body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 Menlo, sans-serif;
    background-color: #474747;
}

@font-face {
    font-family: Icons;
    src: url("../fonts/sosa-regular-webfont.woff");
}

#header {
    background-image: url("../images/robot.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#title-container {
    display: inline-block;
    width: 100%;
}

#title {
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 100px;
    text-shadow: 0px 0px 18px rgba(150, 150, 150, 0.72);
}

#logo-container {
    width: 100%;
    display: inline-block;
    background-color: rgba(230, 230, 230, 0.6);
}

#logo {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
}

#header-text-container {
    width: 100%;
    display: inline-block;
}

#header-text {
    margin: 5%;
    width: 90%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0px 0px 18px rgba(150, 150, 150, 0.72);
}
