.menu {
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f7f7;
    z-index: 1000;
    width: 100%;

}

.menuItem {
    float: left;
}

.menuItem, .menuText {
    display: block;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
