#nationals, #news, #teams {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75%;
}

#nationals {
  background-image: url("../images/nationals.jpg");
}

#news {
  background-image: url("../images/news.jpg");
}

#teams {
    background-image: url("../images/robot.jpg");
}

.content, .darkContent {
    position: relative;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

.content {
    color: #777;
    background-color:#f7f7f7;
}

.darkContent {
    color:#ddd;
    background-color:#6a7076;
}

.paralaxHeader {
    background-color:transparent;
    font-size:50px;
    color: #f7f7f7;
}

.imageDetail {
    color: #f7f7f7;
}
